*

!.github/workflows/**

!/**/
!**/assets/*
!.gitignore
!*.vhdl
!*.qpf
!*.qsf
!README.md
!**/Makefile
!*.build.mk
!scripts/*.bat
!scripts/*.sh

!**/*.py
!**/*.[csh]
!**/*.in

!/LICENSE

# From scripts/bootstrap.bat
/bin/
