*

!.github/workflows/**

!/**/
!**/assets/*
!.gitignore
!*.vhdl
!*.qpf
!*.qsf
!README.md
!**/Makefile
!*.build.mk
!setup.bat
!setup.sh

!**/*.py
!**/*.[csh]

!/LICENSE

# From scripts/bootstrap.bat
/bin/
